In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('powergrid_projects.csv',index_col=0 )
df.head()

,Project_ID,Date,Month,Year,Location,Region,Tower_Type,Substation_Type,Budget,Cement_tons,Steel_tons,Wires_tons,Tax_percent,Essential_Rank_Cement,Essential_Rank_Steel,Essential_Rank_Wires,Month_sin,Month_cos
0,20000,2023-01-01,1,2023,Bangalore,south,765kV Monopole,Gas insulated,236.98,106.181,26.072,18.420,17.77,1,1,2,0.500000,8.660254e-01
1,20000,2023-02-01,2,2023,Bangalore,south,765kV Monopole,Gas insulated,236.98,124.959,30.274,21.035,17.77,1,1,2,0.866025,5.000000e-01
2,20000,2023-03-01,3,2023,Bangalore,south,765kV Monopole,Gas insulated,236.98,143.880,38.091,25.831,17.77,1,1,2,1.000000,6.123234e-17
3,20000,2023-04-01,4,2023,Bangalore,south,765kV Monopole,Gas insulated,236.98,165.214,40.052,26.474,17.77,1,1,2,0.866025,-5.000000e-01
4,20000,2023-05-01,5,2023,Bangalore,south,765kV Monopole,Gas insulated,236.98,178.622,42.717,29.170,17.77,1,1,2,0.500000,-8.660254e-01

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18000 entries, 0 to 17999
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Project_ID             18000 non-null  int64
 1   Date                   18000 non-null  datetime64[ns]
 2   Year                   18000 non-null  int64
 3   Location               18000 non-null  object
 4   Region                 18000 non-null  object
 5   Tower_Type             18000 non-null  object
 6   Substation_Type        18000 non-null  object
 7   Budget                 18000 non-null  float64
 8   Cement_tons            18000 non-null  float64
 9   Steel_tons             18000 non-null  float64
 10  Wires_tons             18000 non-null  float64
 11  Tax_percent            18000 non-null  float64
 12  Essential_Rank_Cement  18000 non-null  int64
 13  Essential_Rank_Steel   18000 non-null  int64
 14  Essential_Rank_Wires   18000 non-null  int64
 15  Month                  18000 non-null  int64
 16  Month_sin              18000 non-null  float64
 17  Month_cos              18000 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(6), object(4)
memory usage: 2.6+ MB

In [ ]:
# df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
# df.insert(loc = df.columns.get_loc('Month')+1, column='Year', value=df.Month.dt.year)

In [ ]:
# df.rename(columns={'Month':'Date'}, inplace=True)

In [ ]:
# df = df.drop(columns=['Month'], axis=0)
# df.insert(df.columns.get_loc('Date')+1, column='Month', value=df['Date'].dt.month)

In [ ]:
# df['Month_sin'] = np.sin(2*np.pi*df['Month']/12)
# df['Month_cos'] = np.cos(2*np.pi*df['Month']/12)

In [5]:
# Lag features
for lag in [1, 2, 3]:
    for mat in ['Cement_tons', 'Steel_tons', 'Wires_tons']:
        df[f'{mat}_lag{lag}'] = df.groupby('Project_ID')[mat].shift(lag)

# Rolling features
for window in [3, 6]:
    for mat in ['Cement_tons', 'Steel_tons', 'Wires_tons']:
        df[f'{mat}_roll{window}'] = df.groupby('Project_ID')[mat].transform(lambda x: x.rolling(window, min_periods=1).mean())

df.fillna(0, inplace=True)

In [7]:
df.to_csv('powergrid_projects.csv')

In [8]:
df.Location.unique()

array(['Bangalore', 'Chennai', 'Kolkata', 'Bhopal', 'Delhi', 'Jaipur',
       'Mumbai', 'Hyderabad', 'Ahmedabad', 'Patna', 'Lucknow', 'Srinagar',
       'Chandigarh', 'Raipur', 'Dehradun'], dtype=object)